@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,800;1,300&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

:root {
  --primary-color: #00bfa5;
  --muted-color: #808080;
  --light-color: #FFFFFF;
  --dark-color: #333333;
  --success-color: #00bf7c;
  --danger-color: #d32f2f;
  --warning-color: #ffd600;
  --bg-color: #F5F5F5;
}

* {
  font-family: 'Open Sans', 'Arial', sans-serif;
}

body {
  background-color: var(--bg-color)
}

/* Sidebar */

.sidebar {
  transition: 250ms;
  background: var(--primary-color);
  height: 100vh;
  width: 300px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, .3);
}

.sidebar.active {
  transition: 250ms;
  width: 75px;
}


.sidebar.active .sidebar-title {
  transition: 300ms;
  display: none;
}

.sidebar.active .sidebar-item .item-text {

  transition: 250ms;
  display: none;
}

.item-text {
  white-space: nowrap;
}

.sidebar-header {
  transition: 250ms;
  background-color: #FFFFFF;
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.sidebar-button {
  height: 75px;
  background-color: var(--light-color);
  border: none;
  color: var(--primary-color);
  cursor: pointer;
  flex-grow: 2;
}

.sidebar-button:hover {
  transition: 250ms;
  background: rgba(0, 0, 0, .05);
}

.sidebar-title {
  user-select: none;
  transition: 300ms;
  flex-grow: 5;
  margin: 0;
  text-align: center;
  font-size: 3rem;
  color: var(--primary-color)
}

.sidebar-menu {
  transition: 250ms;
  list-style: none;
  padding: 0px;
}

.sidebar-item {
  transition: 250ms;
  text-decoration: none;
  color: var(--light-color);
  font-size: 1rem;
}

.sidebar-item li {
  transition: 250ms;
  background-color: rgba(0, 0, 0, .05);
  margin-bottom: 10px;
  padding: 25px 25px;
  display: flex;
  align-items: center;
}

.sidebar-item li:hover {
  transition: 250ms;
  background-color: var(--light-color);
  color: var(--primary-color);
}


.sidebar-item .material-icons {
  margin-right: 25px;
  font-size: 1.5rem;
}

/* Sidebar */

.header {
  background-color: var(--primary-color);
  color: var(--light-color);
  font-size: 1.2rem;
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 0px 5px rgba(0, 0, 0, .3);
}

.header-button {
  background: transparent;
  border: none;
  color: var(--light-color);
  padding: 15px 25px;
  cursor: pointer;
}

.header-button .material-icons {
  font-size: 2rem !important;

}

/* Header */

/* Main Components */

.App {
  display: flex;
}

.Main {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* Main Components */

/* Button */

.btn {
  border: none;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, .3);
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.btn-primary {
  color: var(--light-color);
  background-color: var(--primary-color);
}

.btn-primary:hover {
  transition: 250ms;
  color: var(--primary-color);
  background-color: var(--light-color);
}

.btn-success {
  color: var(--light-color);
  background-color: var(--success-color);
}

.btn-success:hover {
  transition: 250ms;
  color: var(--success-color);
  background-color: var(--light-color);
}

.btn-danger {
  color: var(--light-color);
  background-color: var(--danger-color);
}

.btn-danger:hover {
  transition: 250ms;
  color: var(--danger-color);
  background-color: var(--light-color);
}

.btn-warning {
  color: var(--dark-color);
  background-color: var(--warning-color);
}

.btn-warning:hover {
  transition: 250ms;
  color: var(--warning-color);
  background-color: var(--dark-color);
}

.btn-muted {
  color: var(--dark-color);
  background-color: var(--muted-color);
}

.btn-muted:hover {
  transition: 250ms;
  color: var(--muted-color);
  background-color: var(--dark-color);
}

.btn-sm {
  margin-right: 4px;
  border: none;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, .3);
  border-radius: 5px;
  padding: 2px 4px;
  cursor: pointer;
}

.btn-sm .material-icons {
  font-size: 1rem;
  margin: 3px;
}

/* Button */

/* Helpers */

a {
  text-decoration: none;
}

.small {
  font-size: .75rem;
}

.flex-end {
  justify-content: end;
}

.flex-center {
  justify-content: center;
}

.muted {
  color: var(--muted-color)
}

.flex-sm {
  flex-grow: 1
}

.flex-md {
  flex-grow: 2
}

.flex-lg {
  flex-grow: 4
}

.flex-xl {
  flex-grow: 8
}

.text-center {
  text-align: center !important;
}

.mt-1 {
  margin-top: 10px
}

/* Helpers */

/* Register */
.register {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.register form {
  width: 100%;
  max-width: 900px;
  display: flex;
  flex-direction: column;

}

.input-group {
  margin: 10px 10px;
  display: flex;
  flex-direction: column;
}

.register .row {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.input-group input[type=text],
select,
input[type=date] {
  width: 100%;
  height: 35px;
  padding: 0px 10px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.consult {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
}



.consult .container {
  max-width: 1200px;
  width: 100%;
  margin-top: 40px
}

.consult .patients-filter {
  max-width: 800px;
  width: 100%;
  display: flex;
  align-items: center;
}

.consult .patients-filter input {
  width: 100%;
  height: 35px;
  padding: 0px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.consult .patients-filter .material-icons {
  margin-right: 10px;
  color: var(--muted-color)
}

#table-patients {
  width: 100%;
  border-radius: 3px;
  border-collapse: collapse;

}

#table-patients th {
  font-weight: 400;
  font-size: .8rem;
  text-align: left;
  color: var(--muted-color)
}

#table-patients tr.disabled td {
  background-color: var(--bg-color);

  color: var(--muted-color);
}

#table-patients td {
  margin: 0;
  padding: 5px 10px;
  background: var(--light-color);
  border: solid 2px var(--bg-color);
  text-align: left;
}

.Home {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--bg-color);
  color: var(--primary-color);
  ;
}

.Home h1 {
  font-size: 6rem;
  user-select: none;
  margin-top: -20px;
}

.Home span {
  margin-left: 15px;
  user-select: none;

}

/* Media Query */

@media (max-width: 600px) {
  .register .row {
    display: block;
  }

  .consult .patients-filter {
    justify-content: center;
  }

  .consult .container {
    overflow: auto;
  }

}

/* Media Query */